@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbf7f3; /* earth-50 */
    color: #26462e; /* leaf-800 */
  }
}

/* Custom Scrollbar Hiding */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Hide scrollbar globally but allow scrolling */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}